.edit-container {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 800px;
    margin: 2rem auto;
}

.edit-list {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 0.5rem;
}

.edit-input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;

    span {
        font-size: 18px;
    }
}

.edit-button, .save-button {
    width: 60%;
    padding: 0.6rem 1.2rem;
    background-color: #c02e35;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
    min-height: 40px;
    max-height: 50px;
}

.edit-button:hover, .save-button:hover {
    background-color: #575857;
}

