.menu-page {
  color: var(--white-color);
  background-color: var(--dark-background);
  padding-bottom: 1rem;

  h1 {
    font-size: clamp(34px, 5vw, 48px);
  }

  h2 {
    font-size: clamp(28px, 5vw, 32px);
  }

  p {
    font-size: clamp(16px, 5vw, 20px);
  }
}

.menu-hero-img {
  grid-column: span 2;
  max-width: 100%;
}

.menu-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 2rem;
}

.menu {
  background: var(--dark-red);
  color: var(--white-color);
  padding: 1rem;
  border-radius: 0.5rem;

  h1 {
    background: white;
    color: var(--red-color);
    padding: 1rem;
    margin: 0;
  }
}

.allergen-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid var(--white-color);
  padding: 1rem;

  &:last-child {
    border-bottom: none;
  }

  .menu-flex {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    p {
      text-align: center;
    }

    > img {
      width: 200px;
      aspect-ratio: 4/3;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .cart-buttons {
    display: flex;
    align-items: center;

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      height: 30px;
    }

    p {
      min-width: 30px;
      margin: 0;
    }
  }
}

.side-menu {
  position: sticky;
  top: 0rem;
  max-height: fit-content;
  padding: 1rem 0 2rem;
}

.side-menu-option {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .side-menu-flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  img {
    height: clamp(40px, 5vw, 50px);
  }

  a {
    color: var(--white-color);
    font-size: clamp(16px, 5vw, 25px);
    text-decoration: none;
    margin: 0.5rem 0;

    &:hover {
      color: var(--red-color);
    }
  }
}

*:disabled {
  border: none;
  background: var(--dark-red);
  color: var(--white-color);
  display: none;
}
.fa-pencil {
  color: var(--white-color);
  cursor: pointer;
  width: 28px;
  height: 20px;
}
.add-edit-buttons {
  display: flex;
  gap: 0.6em;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0.5em 0;
  padding: 0 0.2em;
}
.add-item-button,
.edit-item-button {
  width: 90px;
  height: 40px;
  padding: 0.4em 0.2em;
  margin: 0.3em 0;
  cursor: pointer;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
}
.button-container {
  display: flex;
  flex-direction: column;
}
.delete-button,
.save-button,
.pencil {
  cursor: pointer;
  background: var(--dark-red);
  border: none;
  color: var(--white-color);
  padding: 3px 6px;
  position: relative;
  width: 40px;
}

.delete-button img {
  width: 24px;
}
.save-button img {
  width: 24px;
}
.pencil img {
  width: 30px;
}
.button-container {
  display: none;
}

.menu.show-buttons .button-container {
  display: flex;
  gap: 1rem;
}
.menu-item input {
  margin: 0.3em 0;
  padding: 0.3em;
  font-size: 16px;
}
.price-input {
  width: 60px;
  height: 35px;
}

.description-input {
  width: 280px;
  height: 35px;
}
.url-input {
  max-width: 190px;
}
.name-input {
  width: 200px;
  height: 35px;
}
.pencil .hover-text,
.save-button .hover-text,
.delete-button .hover-text {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white-color);
  background-color: rgb(31, 30, 30);
  font-size: 15px;
  white-space: nowrap;
  z-index: 10;
  display: none;
}

.pencil:hover .hover-text,
.save-button:hover .hover-text,
.delete-button:hover .hover-text {
  display: block;
}
.edit-item-button.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

@media (max-width: 1000px) {
  .menu-item {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .menu-flex {
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .menu-grid {
    grid-template-columns: 1fr;

    .side-menu {
      background-color: var(--dark-background);
      display: flex;
      gap: 1rem;
      overflow-x: auto;
    }
  }
}

@media (max-width: 460px) {
  .menu-page {
    padding: 0;

    .menu-grid {
      margin: 0;

      .side-menu {
        padding: 1rem;
      }

      .menu {
        border-radius: 0;

        .menu-item {
          padding: 1rem 0;
        }

        .menu-flex {
          gap: 0.5rem;
          flex-wrap: wrap;

          > img {
            width: 112px;
          }
        }
      }
    }
  }
}

@media (max-width: 354px) {
  .button-container {
    gap: 0.5rem;
    flex-direction: row;
  }
}
