.admin-menu-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #333;
	padding: 2rem;
	border-radius: 10px;
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	z-index: 1000;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .admin-menu-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
  }
  
  .admin-menu-form input {
	padding: 0.75rem;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
  }
  
  .admin-menu-form-buttons {
	display: flex;
	justify-content: space-between;
  }
  
  .cancel-button {
	background-color: #801313;
	color: #fff;
	padding: 0.75rem 1.5rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	flex: 1;
	margin-right: 0.5rem;
  }
  
  .add-button {
	background-color: #2e0f0f;
	color: #fff;
	padding: 0.75rem 1.5rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	flex: 1;
	margin-left: 0.5rem;
  }
  
  .error-message {
	color: #ff6b6b;
	margin-top: 1rem;
	text-align: center;
  }
  