.cart {
	background-color: var(--white-color);
	width: 100vw;
	position: fixed;
	bottom: 0;


	img  {
	max-width: 100px;
	aspect-ratio: 4/3;
	object-fit: cover;
	border-radius: 5px;
  }

  tr {
	display: flex;
	align-items: center;
  }
}